/*
the dark blue #0e1130
the lighter blue #3683c5
the lightest blue #79bde8
the dark colour #393939

header font libre baskerville

general font avenir LT
*/

:root {
    --primary-colour: #2a2a2a;
    --background-colour: #0e1130;
    --text-colour: #fff;
    --panel-warning: #ff9a03;
    --primary-font: 'Libre Baskerville', serif;
    --secondary-font: 'Nunito', sans-serif;
}

html {
    background-color: var(--background-colour);
}

h1 {
    color: var(--text-colour);
    font-family: var(--primary-font);
    margin: 0;
}

p {
    color: var(--text-colour);
    font-family: var(--secondary-font);
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.timeline-Tweet-text {
    color: #fff!important;
}