/*
the dark blue #0e1130
the lighter blue #3683c5
the lightest blue #79bde8
the dark colour #393939
header font libre baskerville
general font avenir LT
*/

:root {
    --primary-colour: #2a2a2a;
    --background-colour: #393939;
    --header-background-colour: #0e1130;
    --text-colour: #fff;
    --panel-warning: #ff9a03;
    --primary-font: 'Libre Baskerville', serif;
    --secondary-font: 'Nunito', sans-serif;
    --panel-background: #3683c5;
}

html {
    background-color: var(--background-colour);
}

.header {
    background-color: var(--header-background-colour);
}

.headerText {
    margin-top: 20px;
    margin-left: 3%;
}

.headerList {
    margin-right: 5%!important;
    text-align: right;
}
.adminHeader {
    font-family: var(--secondary-font);
}

.panel {
    background-color: var(--panel-background);
    width: 100%!important;
}
.adminPanel {
    background-color: var(--panel-background);
    width: 100%!important;
    margin-bottom: 50px;
}

.datePanel {
    background-color: var(--header-background-colour);
    border: 3px var(--header-background-color) solid;
    border-radius: 10px;
}

.panelText {
    margin-left: 4%;
}
h1 {
    color: var(--text-colour);
    font-family: var(--primary-font);
    margin: 0;
    text-align: left;
}

h2 {
    color: var(--text-colour);
}
h3 {
    color: var(--text-colour);
}

p {
    color: var(--text-colour);
    font-family: var(--secondary-font);
    margin: 0;
}
.clientListText {
    color: var(--text-colour);
    font-family: var(--secondary-font);
}
a {
    color: var(--text-colour);
    text-decoration: none;
}
a:hover{
    color: var(--text-colour);
    text-decoration: underline;
}
label {
    color: var(--text-colour);
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}

.fa {
    color: #fff;
    padding-right: 10px;
}

img {
    max-width: 100%;
    max-height: 500px;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}
.horizontalli {
    display: inline;
}
pre {
    color: var(--text-colour);
}
small {
    color: #fff;
}
small a {
    text-decoration: underline;
}
.calendarText {
    padding-left: 12px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.calendarTextDate {
    padding-left: 12px;
    padding-right: 5px;
    font-weight: lighter;
    font-size: smaller;
}
.calendarTextHead {
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
}
.box {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px!important;
    text-align: center;
    height: 200px;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
    text-align: center;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--background-colour);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px var(--background-colour) solid;
}

/* Change the color of links on hover */
.topnav a:hover {
    color:#fff;
    border: 1px #fff solid;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.adminNavLi {
    padding-right: 10px;
}
