scripts/notes.md
scripts/.idea/modules.xml
scripts/.idea/scripts.iml
scripts/.idea/workspace.xml
scripts/.idea/misc.xml
scripts/.idea/deployment.xml
scripts/.idea/webServers.xml
scripts/.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Thorium.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/deployment.xml
.idea/dictionaries/dansb.xml
images/startup-flowchart.gif
scripts/.config.file.swp
*.swp
scripts/__pycache__/install.cpython-35.pyc
scripts/this will work.py